@media (max-width: 768px) {
    nav ul {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #333;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        transition: left 0.3s;
    }
    
    nav ul.active {
        left: 0;
    }
    
    nav ul li {
        margin: 15px 0;
    }
    
    .hamburger {
        display: block;
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    
    .hero {
        height: 400px;
    }
    
    .contact-container {
        flex-direction: column;
    }
    
    .search-container {
        flex-direction: column;
        gap: 20px;
    }

    #movie-search {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    
    #search-btn {
        width: 50%;
        border-radius: 4px;
    }
}

@media (max-width: 480px) {
    .search-container {
        flex-direction: column;
        gap: 20px;
    }
    
    #movie-search {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    
    #search-btn {
        width: 100%;
        border-radius: 4px;
    }
    
    .movie-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        align-items: flex-start;
    }

    .footer-social {
        order: 3; /* Moves social icons to the right */
    }
}

@media (max-width: 767px) {
    .footer-social {
        margin: 15px 0;
    }
}